extends ../layout

block content
    div.main

        p.text-center Vue.js Test

        //- You could put this inside a template that you include
        div
            != components.counterComponent.html
            script(src=components.counterComponent.script)

        div
            != components.clickerComponent.html
            script(src=components.clickerComponent.script)
